body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-size: 14px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow-x: hidden; /* Prevents horizontal scrolling on phones */
    width: 100%;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    min-height: 100vh; /* Adjusts to full screen height */
}

/* Fixes the text overlap and cut-off button */
#text {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    position: relative; /* Change to relative so it pushes the button down */
    z-index: 10;
    padding: 15px;
}

#code {
    display: none;
    color: #c4ffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: bolder;
}

/* The Special Wish Button container */
#message-box {
    text-align: center;
    margin-top: 30px;
    position: relative;
    width: 100%;
    padding-bottom: 60px; /* Space at the bottom so it's never cut off */
}

#clock-box {
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    display: none;
}

#clock .digit {
    font-size: 40px;
}

#canvas {
    display: block;
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
    max-width: 1100px;
}

/* DESKTOP VIEW: Put text on the left if screen is wide enough */
@media screen and (min-width: 900px) {
    #text {
        position: absolute;
        left: 50px;
        top: 60px;
        margin: 0;
    }
    #clock-box {
        position: absolute;
        left: 50px;
        bottom: 100px;
        text-align: left;
    }
}
