body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  overflow-x: hidden; /* Prevents side-scrolling on phones */
  width: 100%;
}

a {
  color: white;
  font-size: 14px;
}

#main {
  width: 100%;
}

/* The wrapper now scales with the screen */
#wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px; 
  min-height: 680px;
  margin-top: 10px;
}

/* Text box: uses % to stay relative to the screen size */
#text {
  width: 80%;
  max-width: 300px;
  left: 5%;
  top: 50px;
  position: absolute;
  z-index: 10;
}

#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: 16px;
  margin-top: 20px;
  line-height: 25px;
  font-weight: bolder;
}

/* Clock box: moved to use relative positioning for mobile safety */
#clock-box {
  position: absolute;
  left: 5%;
  bottom: 10%;
  font-size: 20px;
  display: none;
  z-index: 15;
}

#clock-box a {
  font-size: 20px;
  text-decoration: none;
}

#clock {
  margin-left: 10px;
}

#clock .digit {
  font-size: 40px;
}

/* Canvas: will now shrink to fit the width of the phone */
#canvas {
  display: block;
  margin: 0 auto;
  width: 100% !important;
  height: auto !important;
  max-width: 1100px;
}

#message-box {
  position: absolute;
  bottom: 20px;
  left: 5%;
  font-size: 18px;
  font-family: monospace;
}

/* MOBILE FIXES: This section triggers on screens smaller than 800px */
@media screen and (max-width: 800px) {
  #text {
    position: relative;
    left: 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    top: 20px;
  }
  
  #clock-box {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  #clock .digit {
    font-size: 32px;
  }
}

#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}

.hand { cursor: pointer; }
.say { margin-left: 5px; }
.space { margin-right: 20px; }
